<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/图标.jpg" rel="icon" type="image/x-icon" />
    <title>教务管理系统</title>
    <link rel="stylesheet" type="text/css" href="static/css/2.css">
</head>
<body>
    <div>
        <div class="head">
            <div style="border-bottom: 1px solid #080808;">
                <h2>教授课程</h2>
            </div>
        </div>
        <div>
                <table border="1" class="table">
                    <tr class="tr">
                        <th>课程编号</th>
                        <th>课序号</th>
                        <th>课名</th>
                        <th>学分</th>
                        <th>课程类别</th>
                        <th>操作</th>
                    </tr>
                    {% for r in results %}
                    <tr class="tr">
                        <td>{{r[0]}}</td>
                        <td>{{r[1]}}</td>
                        <td>{{r[2]}}</td>
                        <td>{{r[3]}}</td>
                        <td>{{r[4]}}</td>
                        <td>
                            <a href="{{url_for('tea_cha')}}?bianhao={{bianhao}}&kehao={{r[0]}}&kexuhao={{r[1]}}" class="buttons" style="font-size: 15px;background-color: #2379bc;color:white;">查询</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
        </div>
    </div>
</body>
</html>